body {
  font-family: sans-serif;
  background-size: cover;
  background-image: url('../src/images/film-2233658_1280.jpeg');
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
